body {
  font-family: georgia, times, serif;
  font-size: 16px;
  background: #111; }

h1, h2 {
  font-weight: normal; }

#main {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 860px;
  overflow-y: hidden; }

.main-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.inner-block {
  width: 960px;
  margin: 0 auto; }

#header {
  position: relative;
  box-shadow: 0 1px 8px 0 black; }

#banner {
  position: relative;
  width: 100%;
  padding: 20px 0 18px 0;
  background: #202026; }
  #banner img {
    display: block;
    margin: 0 auto;
    /* margin-left: 460px; */ }
  #banner .logo-img {
    padding-top: 10px;
    max-width: 200px; }
  #banner .logo-text {
    margin-top: 12px;
    width: 960px; }

.blinder {
  background: #111;
  position: absolute;
  width: 400px;
  height: 100%;
  top: 0; }
  .blinder.left {
    left: 0;
    border-right: 1px solid #222; }
  .blinder.right {
    right: 0;
    border-left: 1px solid #222; }

#nav {
  margin: 0 0 0 0;
  padding: 0;
  border-bottom: 4px solid #ffed33;
  font-size: 0;
  background-color: #eb8540;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eb8540), to(#e16817));
  background-image: -webkit-linear-gradient(top, #eb8540, #e16817);
  background-image: -moz-linear-gradient(top, #eb8540, #e16817);
  background-image: -ms-linear-gradient(top, #eb8540, #e16817);
  background-image: -o-linear-gradient(top, #eb8540, #e16817);
  background-image: linear-gradient(to bottom, #eb8540, #e16817);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); }
  #nav ul {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    /* text-align: center; */ }
  #nav li {
    display: inline-block;
    list-style-type: none;
    width: 182px;
    padding: 0;
    margin: 0;
    opacity: 0.8;
    padding: 8px 0;
    font-size: 16px;
    font-weight: bold; }
    #nav li a {
      text-decoration: none;
      color: black; }
      #nav li a:hover {
        border-bottom: 2px solid #19191e; }
      #nav li a:active {
        color: white;
        border-bottom: 2px solid white; }

#content {
  position: relative;
  /* height: 100%; */
  min-height: 400px; }
  #content .big-quote {
    margin: 0;
    padding-top: 40px; }

.big-quote {
  position: relative;
  color: white;
  font-size: 48px;
  text-shadow: 0 1px 2px black; }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 200px;
  font-size: 13px;
  border-top: 4px solid #d3ad3c;
  background: #101013;
  color: #d8d8d8; }
  #footer h2 {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0; }
  #footer .col {
    width: 280px;
    /* &:first-child {margin-left: 80px;} */ }

#inner-footer {
  padding: 18px 0; }

.col {
  display: inline-block;
  vertical-align: top;
  width: 300px; }

.stretch {
  width: 100%;
  height: 100%; }

.hide {
  display: none; }

blockquote .leading-quote {
  position: absolute;
  left: -24px; }
