body {
  font-family: georgia, times, serif;
  font-size: 16px;
  background: #111; }

a {
  text-decoration: none;
  color: #116699; }
  a:hover {
    text-decoration: underline; }

p {
  line-height: 1.6em; }

h1, h2 {
  font-weight: normal; }

#main {
  position: relative;
  width: 100%;
  height: 100%;
  /* min-height: 860px; */
  min-height: 920px;
  overflow-y: hidden; }

.main-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.inner-block {
  width: 960px;
  margin: 0 auto; }

#header {
  position: relative;
  -moz-box-shadow: 0 1px 8px 0 black;
  -webkit-box-shadow: 0 1px 8px 0 black;
  box-shadow: 0 1px 8px 0 black; }

#banner {
  position: relative;
  width: 100%;
  padding: 20px 0 18px 0;
  background: #202026; }
  #banner img {
    display: block;
    margin: 0 auto;
    /* margin-left: 460px; */ }
  #banner .logo-img {
    padding-top: 10px;
    width: 200px; }
  #banner .logo-text {
    margin-top: 12px;
    width: 891px; }

.blinder {
  background: #111;
  position: absolute;
  width: 400px;
  height: 100%;
  top: 0; }
  .blinder.left {
    left: 0;
    border-right: 1px solid #222; }
  .blinder.right {
    right: 0;
    border-left: 1px solid #222; }

#nav {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 0;
  border-bottom: 4px solid #d8b651;
  background-color: #eb8540;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eb8540), to(#e16817));
  background-image: -webkit-linear-gradient(top, #eb8540, #e16817);
  background-image: -moz-linear-gradient(top, #eb8540, #e16817);
  background-image: -ms-linear-gradient(top, #eb8540, #e16817);
  background-image: -o-linear-gradient(top, #eb8540, #e16817);
  background-image: linear-gradient(to bottom, #eb8540, #e16817);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); }
  #nav ul {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    text-align: center; }
  #nav li {
    display: inline-block;
    width: 182px;
    margin: 0;
    padding: 8px 0;
    list-style-type: none;
    font-size: 16px; }
    #nav li a {
      font-weight: bold;
      text-decoration: none;
      color: #6e330b;
      text-shadow: 0 1px 0 #ee9457; }
      #nav li a:hover {
        border-bottom: 1px solid #232329; }
      #nav li a:active {
        color: #b85513;
        border-bottom: 1px solid #b85513; }

#content {
  position: relative;
  /* height: 100%; */
  min-height: 400px; }
  #content .big-quote {
    margin: 0;
    padding-top: 40px; }

.big-quote {
  position: relative;
  color: white;
  font-size: 48px;
  text-shadow: 0 1px 2px black; }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 200px;
  font-size: 13px;
  border-top: 4px solid #d3ad3c;
  background: #101013;
  color: #d8d8d8; }
  #footer h2 {
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold; }
  #footer .col {
    width: 280px;
    /* &:first-child {margin-left: 80px;} */ }

#inner-footer {
  position: relative;
  padding: 18px 0; }

.col {
  display: inline-block;
  vertical-align: top;
  width: 300px; }

.stretch {
  width: 100%;
  height: 100%; }

.dull {
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

.spaceless {
  margin: 0;
  padding: 0; }

.hide {
  display: none; }

blockquote .leading-quote {
  position: absolute;
  left: -24px; }

.fitted-page {
  position: relative;
  min-height: 800px;
  padding: 20px 36px 20px 36px;
  background: url("../imgs/textures/scroll.png") top left repeat; }
  .fitted-page p {
    margin: 0;
    padding: 8px 0; }

#about-page p {
  font-size: 18px; }
#about-page .motto {
  margin-bottom: 8px;
  margin-left: -8px;
  padding-bottom: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px dashed #101013; }

#contact-page p {
  font-size: 16px; }
#contact-page .first {
  margin-bottom: 12px; }
#contact-page .info {
  margin-bottom: 10px; }
#contact-page .block {
  padding: 8px 14px 10px 14px;
  background: #fbfbfb;
  color: #333;
  -moz-box-shadow: 0 0 16px #aaaaaa;
  -webkit-box-shadow: 0 0 16px #aaaaaa;
  box-shadow: 0 0 16px #aaaaaa; }
#contact-page .col {
  width: 410px; }
  #contact-page .col p {
    float: left; }
  #contact-page .col.second, #contact-page .col .phone-number {
    float: right; }
#contact-page h2 {
  margin: 0;
  padding: 8px 0;
  font-size: 16px;
  color: #555;
  text-shadow: 0 -1px 0 black;
  border-bottom: 1px solid #ddd; }
#contact-page iframe {
  width: 100%;
  height: 200px;
  margin-top: 3px;
  background: #ddd; }
#contact-page .map {
  display: block;
  padding-top: 8px;
  clear: both;
  font-size: 13px; }
#contact-page .hr {
  margin: 32px 0 24px 0; }

.icon-links {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 6px;
  background: #ffffff;
  border-top: none;
  border-radius: 0 0 2px 2px; }
  .icon-links .icon {
    display: block; }
  .icon-links .icon + .icon {
    margin-top: 6px; }

.map {
  display: block; }

.hr {
  border-top: 1px dashed #101013;
  margin: 12px 0; }

.icon {
  display: inline-block;
  width: 32px;
  height: 32px; }

.facebook-icon {
  background: url("../imgs/icons/icons.png") 0 0 no-repeat; }

.yelp-icon {
  background: url("../imgs/icons/icons.png") -32px 0 no-repeat; }

.invisible {
  visibility: hidden; }

.flag-bar {
  position: absolute;
  width: 100%;
  font-size: 0; }
  .flag-bar .inner {
    width: 960px;
    margin: 0 auto; }
  .flag-bar .flag-color {
    display: inline-block;
    width: 320px; }

.flag-color.red {
  border-top: 4px solid #ff1020; }

.flag-color.white {
  border-top: 4px solid white; }

.flag-color.black {
  border-top: 4px solid black; }

#gallery {
  padding: 20px; }
  #gallery .pictures {
    font-size: 0;
    text-align: center; }
    #gallery .pictures img {
      display: inline-block;
      width: 290px;
      margin: 6px;
      padding: 2px;
      cursor: pointer;
      background: #f8f8f8;
      -moz-box-shadow: 0 6px 6px 0 #525252;
      -webkit-box-shadow: 0 6px 6px 0 #525252;
      box-shadow: 0 6px 6px 0 #525252; }
      #gallery .pictures img:hover {
        background: #f70; }

.blanket {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000;
  opacity: 0.8; }

.zoom {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 100px;
  left: 0; }
  .zoom .inner {
    width: 960px;
    margin: 0 auto;
    text-align: center; }
    .zoom .inner img {
      padding: 16px;
      background: #ffffff;
      cursor: pointer; }

.codeniche-tag {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #d8d8d8;
  font-size: 13px; }

.codeniche-name {
  text-decoration: none;
  font-weight: normal;
  font-style: italic;
  color: #ff8000; }
