<div id="about-page" class="fitted-page">
  <p class="motto">
    Serving Patrons and Exotic Home Flavor<br/>Since 1986<br/>We Cater
    for All Occasions
  </p>
  <p>
    <em>Yemen Café and Restaurant</em> was established in 1986. We
    serve authentic Yemeni food. Our cuisine is well known for its
    flavor, freshness, and use of spices. Cultural platters are our
    signature, hospitality and gratitude are our nature. The
    restaurant has a warm casual atmosphere, which makes it an
    original and satisfying place for our customers. Our menu features
    a wide array of great selections served in generous portions. You
    can decide to eat in or take to eat out.
  </p>
  <p>
    Despite the expectation of red meat bliss -- chops and fresh fish are also on the menu for anyone who thinks he or she has
    been steered in the wrong direction. <em>Yemen Café and
    Restaurant</em> is upscale, but never uptight, with a welcoming
    neighborhood vibe and outstanding service that keeps locals coming
    back and visitors raving.
  </p>
</div>
