<div id="menu">
  <ul id="menu-groups">
    <li>Appetizers</li>
    <li>Lamb</li>
    <li>Poultry</li>
    <li>Lamb (Lunch)</li>
    <li>Poultry (Lunch)</li>
    <li>Beverages</li>
  </ul>

  <div id="menu-items">

    <ul id="menu-appetizers">

      <li>
        <div class="food-name">SpEcial House Salad</div>
        <div class="food-price">5.00</div>
        <div class="food-description">Fresh Lettece, tomatoes, & homemade dressing.</div>
      </li>

      <li>
        <div class="food-name">Soup</div>
        <div class="food-price">2.00</div>
        <div class="food-description">Lamb or chicken soup.</div>
      </li>

      <li>
        <div class="food-name">Hummus</div>
        <div class="food-price">7.00</div>
        <div class="food-description">Pure chicken peas, sesame batter, olive oil, served with bread.</div>
      </li>

      <li>
        <div class="food-name">Babaghanoug</div>
        <div class="food-price">7.00</div>
        <div class="food-description">Pureed baked eggplants, sesame batter, olive oil, served with bread.</div>
      </li>

      <li>
        <div class="food-name">Foul</div>
        <div class="food-price">7.00</div>
        <div class="food-description">Sauteed onions, tomatoes, mashed fava beans.</div>
      </li>

      <li>
        <div class="food-name">Fassolia</div>
        <div class="food-price">7.00</div>
        <div class="food-description">
          White kidney beans,
          sauteed with onions, tomatoes, served with bread. Also
          you can have fassolia with eggs. Your choice.
        </div>
      </li>

      <li>
        <div class="food-name">Eggs</div>
        <div class="food-price">7.00</div>
        <div class="food-description">Eggs, sauteed  tomato, onion and spices</div>
      </li>

      <li>
        <div class="food-name">SmalL Sauteed Lamb</div>
        <div class="food-price">10.00</div>
        <div class="food-description">
          Minced lamb, sauteed with onions, tomatoes, and yemeni spices served with bread.
        </div>
      </li>

      <li>
        <div class="food-name">Lamb Liver</div>
        <div class="food-price">8.00</div>
        <div class="food-description">Sauteed cubed of lamb liver, with onions, tomatoes served with our clay oven bread.</div>
      </li>

      <li>
        <div class="food-name">Fatah</div>
        <div class="food-price">7.00</div>
        <div class="food-description">Yemeni style sliced bread, honey, and butter.</div>
      </li>

      <li>
        <div class="food-name">Hummus w/ Lamb or Chicken</div>
        <div class="food-price">11.00</div>
        <div class="food-description">Minced lamb or chicken,sauteed with onions,tomatoes, and yemeni spices dressed with Hummus.</div>
      </li>

    </ul>

    <ul id="menu-lamb">

      <li>
        <div class="food-name">Saltah</div>
        <div class="food-price">18.00</div>
        <div class="food-description">
          Fresh assorted root vegetables combined with whipped
          fenugreek and lamb sauce. Served very hot (volcano
          style) in traditional Yemeni way serve with clay
          oven baked bread and roasted lamb or chicken.
        </div>
      </li>

      <li>
        <div class="food-name">Shish Kabab</div>
        <div class="food-price">18.00</div>
        <div class="food-description">
          2 Sticks of small chunk of meat,onion,grilled served
          with vegtables with rice.
        </div>
      </li>

      <li>
        <div class="food-name">Yemeni Galabah</div>
        <div class="food-price">18.00</div>
        <div class="food-description">Minced meat sauteed with tomatoes and onions served with rice.</div>
      </li>

      <li>
        <div class="food-name">Fatah w/ Galabah</div>
        <div class="food-price">15.00</div>
        <div class="food-description">Special sliced bread soaked in lamb sauce and topped with minced meat.</div>
      </li>

      <li>
        <div class="food-name">Lamb Chops</div>
        <div class="food-price">18.00</div>
        <div class="food-description">Grilled baby lamb, seasoned to perfection,served with vegtables over rice.</div>
      </li>

      <li>
        <div class="food-name">Vegetrian w/ Rice</div>
        <div class="food-price">10.00</div>
        <div class="food-description">Mixed vegetables marinated and cooked in a special sauce served with rice.</div>
      </li>

      <li>
        <div class="food-name">Loubia</div>
        <div class="food-price">18.00</div>
        <div class="food-description">Yemeni risotto. Lamb cooked with vegtables. served with rice or bread.</div>
      </li>

      <li>
        <div class="food-name">Haneez</div>
        <div class="food-price">18.00</div>
        <div class="food-description">
          Our most popular dish, slow roasted lamb seasoned to
          perfection. Served with mixed vegtables and rice.
        </div>
      </li>

      <li>
        <div class="food-name">Massloug Lamb</div>
        <div class="food-price">18.00</div>
        <div class="food-description">
          A very tender chunk of lamb sauteed then boiled in
          seasoned mirepoix for hours. Served with mixed
          vegtables and rice.
        </div>
      </li>
      <li>
        <div class="food-name">Zorbian</div>
        <div class="food-price">18.00</div>
        <div class="food-description">
          South yemen dish. Bonless lamb with rice.
        </div>
      </li>

      <li>
        <div class="food-name">Mix Grill Kabab</div>
        <div class="food-price">18.00</div>
        <div class="food-description">Mix grilled shish & chicken kabob served with vegtables and rice.</div>
      </li>

    </ul>

    <ul id="menu-poultry">

      <li>
        <div class="food-name">Chicken Curry</div>
        <div class="food-price">12.00</div>
        <div class="food-description">Minced chicken mixed with root vegtables, sauteed and served with rice.</div>
      </li>

      <li>
        <div class="food-name">Chicken Loubia</div>
        <div class="food-price">12.00</div>
        <div class="food-description">Cooked massloug chicken with vegtables in yemeni style.</div>
      </li>

      <li>
        <div class="food-name">Chicken Kabab</div>
        <div class="food-price">12.00</div>
        <div class="food-description">
          2 Sticks of small chunck of chicken and onions
          grilled served with vegtables over rice.
        </div>
      </li>

      <li>
        <div class="food-name">Roasted Chicken</div>
        <div class="food-price">12.00</div>
        <div class="food-description">
          Chicken slow roasted seasoned to perfection. Served
          with mixed vegtables and rice.
        </div>
      </li>

      <li>
        <div class="food-name">Massloug Chicken</div>
        <div class="food-price">12.00</div>
        <div class="food-description">Chicken boiled in a seasoned mirepoix. Served with mixed vegtables and rice .</div>
      </li>

      <li>
        <div class="food-name">Saltah</div>
        <div class="food-price">12.00</div>
        <div class="food-description">
          Fresh assorted root vegtables combined with whipped
          fenugreek, and lamb sauce. Served very hot (volcano
          style) in traditional Yemeni way serve with clay
          oven baked bread and roasted lamb or chicken. Also
          you have choice of any chicken you want with
          salta. Massloug chicken, roasted chicken, & chicken
          kabob.
        </div>
      </li>

      <li>
        <div class="food-name">Zorbian</div>
        <div class="food-price">12.00</div>
        <div class="food-description">South Yemeni dish,boneless chicken mixed with rice.</div>
      </li>

      <li>
        <div class="food-name">Chicken Supreme</div>
        <div class="food-price">12.00</div>
        <div class="food-description">Chicken cutlet, dredged in flour and batter sauce served with rice.</div>
      </li>

      <li>
        <div class="food-name">Fish of the Day</div>
        <div class="food-price">18.00</div>
        <div class="food-description">Ask for today's fish.</div>
      </li>

    </ul>

    <ul id="menu-lamb-lunch">

      <li>
        <div class="food-name">Saltah</div>
        <div class="food-price">11.00</div>
        <div class="food-description">
          Fresh assorted root vegtables combined with whipped
          fenugreek, and lamb sauce. Served very hot (volcano
          style) in traditional Yemeni way serve with clay
          oven baked bread.
        </div>
      </li>

      <li>
        <div class="food-name">Shish Kabab</div>
        <div class="food-price">11.00</div>
        <div class="food-description">
          One Stick of small chunk of meat, onion, grilled
          served with vegtables with rice.
        </div>
      </li>

      <li>
        <div class="food-name">Yemeni Galabah</div>
        <div class="food-price">11.00</div>
        <div class="food-description">
          Minced meat sauteed with tomatoes and onions served with rice.
        </div>
      </li>

      <li>
        <div class="food-name">Fatah w/ Galabah</div>
        <div class="food-price">11.00</div>
        <div class="food-description">
          Special sliced bread soaked in lamb sauce and topped
          with minced lamb.
        </div>
      </li>

      <li>
        <div class="food-name">Lamb Chops</div>
        <div class="food-price">11.00</div>
        <div class="food-description">
          Grilled baby lamb, seasoned to perfection, served with
          vegetables over rice.
        </div>
      </li>

      <li>
        <div class="food-name">Vegetrian w/ Rice</div>
        <div class="food-price">8.00</div>
        <div class="food-description">
          Mixed vegtables marinated and cooked in a special
          sauce served with rice.
        </div>
      </li>

      <li>
        <div class="food-name">Loubia</div>
        <div class="food-price">11</div>
        <div class="food-description">
          Yemeni risotto. Lamb cooked with vegtables. Served
          with rice or bread.
        </div>
      </li>

      <li>
        <div class="food-name">Haneez</div>
        <div class="food-price">11.00</div>
        <div class="food-description">
          Our most popular dish, slow roasted lamb seasoned to
          perfection. Served with mixed vegtables and
          rice.
        </div>
      </li>

      <li>
        <div class="food-name">Massloug Lamb</div>
        <div class="food-price">11.00</div>
        <div class="food-description">
          A very tender chunk of lamb sauteed then boiled in
          seasoned mirepoix for hours. Served with mixed
          vegtables and rice.
        </div>
      </li>

      <li>
        <div class="food-name">Zorbian</div>
        <div class="food-price">11.00</div>
        <div class="food-description">
          South yemen dish. Boneless lamb with rice.
        </div>
      </li>

    </ul>

    <ul id="menu-poultry-lunch">

      <li>
        <div class="food-name">Chicken Curry</div>
        <div class="food-price">8.00</div>
        <div class="food-description">
          Minced chicken mixed with root vegtables, sauteed and served with rice.
        </div>
      </li>

      <li>
        <div class="food-name">Chicken Loubia</div>
        <div class="food-price">8.00</div>
        <div class="food-description">
          Cooked massloug chicken with vegtables in yemeni style.
        </div>
      </li>

      <li>
        <div class="food-name">Chicken Kabab</div>
        <div class="food-price">8.00</div>
        <div class="food-description">
          2 Sticks of small chunks of chicken and onions
          grilled served with vegetables over rice.
        </div>
      </li>

      <li>
        <div class="food-name">Roasted Chicken</div>
        <div class="food-price">8.00</div>
        <div class="food-description">
          Chicken slow roasted seasoned to perfection. Served
          with mixed vegetables and rice.
        </div>
      </li>

      <li>
        <div class="food-name">Massloug Chicken</div>
        <div class="food-price">8.00</div>
        <div class="food-description">
          Chicken boiled in a seasoned mirepoix. Served with
          mixed vegtables and rice.
        </div>
      </li>

      <li>
        <div class="food-name">Zorbian</div>
        <div class="food-price">8.00</div>
        <div class="food-description">South Yemeni dish, boneless chickenmixed with rice.</div>
      </li>

      <li>
        <div class="food-name">Chicken Supreme</div>
        <div class="food-price">8.00</div>
        <div class="food-description">Chicken cutlet, dredged in flour and batter sauce served with rice.</div>
      </li>

    </ul>

    <ul id="menu-beverages">

      <li>
        <div class="food-name">Iced Tea</div>
        <div class="food-price">1.00</div>
      </li>

      <li>
        <div class="food-name">Special Yemen Tea</div>
        <div class="food-price">1.00</div>
      </li>

      <li>
        <div class="food-name">Yemen Coffee</div>
        <div class="food-price">1.00</div>
      </li>

      <li>
        <div class="food-name">Pepsi/Diet</div>
        <div class="food-price">1.00</div>
      </li>

      <li>
        <div class="food-name">Ginger Ale</div>
        <div class="food-price">1.00</div>
      </li>

      <li>
        <div class="food-name">Sierra Mist</div>
        <div class="food-price">1.00</div>
      </li>

      <li>
        <div class="food-name">Orange</div>
        <div class="food-price">1.00</div>
      </li>

      <li>
        <div class="food-name">Selter</div>
        <div class="food-price">1.00</div>
      </li>

      <li>
        <div class="food-name">Hawaiian punch</div>
        <div class="food-price">1.00</div>
      </li>

    </ul>

  </div>
</div>
