$fontsize_base: 16px;
$fontsize_small: 13px;
$width: 960px;
$color_black: #000000;
$color_white: #ffffff;
$color_cloud: #d8d8d8;
$color_shale: #101013;
$color_shale_light: #202026;
$color_sun: #ffe800;
$color_spice: #d0a830;
$color_driedorange: #e87020;

@mixin outline {
    outline: 1px solid red;
}

@mixin vertical-gradient($startcolor, $endcolor) {
    background-color: $startcolor;
    background-image: -webkit-gradient(linear, left top, left bottom, from($startcolor), to($endcolor)); // Saf4+, Chrome
    background-image: -webkit-linear-gradient(top, $startcolor, $endcolor); // Chrome 10+, Saf5.1+, iOS 5+
    background-image:    -moz-linear-gradient(top, $startcolor, $endcolor); // FF3.6
    background-image:     -ms-linear-gradient(top, $startcolor, $endcolor); // IE10
    background-image:      -o-linear-gradient(top, $startcolor, $endcolor); // Opera 11.10+
    background-image:         linear-gradient(to bottom, $startcolor, $endcolor); // CSS3
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); // IE9
}

body {
    font-family: georgia, times, serif;
    font-size: $fontsize_base;
    background: #111;
}

h1, h2 {font-weight: normal;}

#main {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 860px;
    overflow-y: hidden;
}

.main-bg {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}

.inner-block {
    width: $width;
    margin: 0 auto;
}

#header {
    position: relative;
    box-shadow: 0 1px 8px 0 $color_black;
}

#banner {
    position: relative;
    width: 100%;
    padding: 20px 0 18px 0;
    background: $color_shale_light;
    img {
        display: block;
        margin: 0 auto;
        /* margin-left: 460px; */
    }
    .logo-img {
        padding-top: 10px;
        max-width: 200px;
    }
    .logo-text {
        margin-top: 12px;
        width: $width;
    }
}

.blinder {
    background: #111;
    position: absolute;
    width: 400px; height: 100%;
    top: 0;
    &.left {left: 0; border-right: 1px solid #222;}
    &.right {right: 0; border-left: 1px solid #222;}
}

#nav {
    margin: 0 0 0 0;
    padding: 0;
    border-bottom: 4px solid lighten($color_sun, 10%);
    font-size: 0;
    @include vertical-gradient(lighten($color_driedorange, 7%), darken($color_driedorange, 3%));
    ul {
        width: $width;
        margin: 0 auto;
        padding: 0;
        /* text-align: center; */
    }
    li {
        display: inline-block;
        list-style-type: none;
        width: ($width / 5) - 10px;
        padding: 0;
        margin: 0;
        opacity: 0.8;
        padding: 8px 0;
        font-size: 16px;
        font-weight: bold;
        a {
            text-decoration: none;
            color: $color_black;
            &:hover {border-bottom: 2px solid lighten($color_shale, 4%);}
            &:active {
                color: $color_white;
                border-bottom: 2px solid $color_white;
            }
        }
    }
}

#content {
    position: relative;
    /* height: 100%; */
    min-height: 400px;
    .big-quote {
        margin: 0;
        padding-top: 40px;
    }
}

.big-quote {
    position: relative;
    color: $color_white;
    font-size: 48px;
    text-shadow: 0 1px 2px $color_black;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 200px;
    font-size: $fontsize_small;
    border-top: 4px solid lighten($color_spice, 3%);
    background: $color_shale;
    color: $color_cloud;
    h2 {
        font-weight: bold;
        font-size: $fontsize_base;;
        margin: 10px 0;
    }
    .col {
        width: 280px;
        /* &:first-child {margin-left: 80px;} */
    }
}

#inner-footer {padding: 18px 0;}

.col {
    display: inline-block;
    vertical-align: top;
    width: 300px;
}

.stretch {
    width: 100%;
    height: 100%;
}

.hide {display: none;}

blockquote .leading-quote {
    position: absolute;
    left: -24px;
}
