$fontsize_base: 16px;
$fontsize_big: 18px;
$fontsize_small: 13px;
$width: 960px;
$color_black: #000000;
$color_white: #ffffff;
$color_cloud: #d8d8d8;
$color_shale: #101013;
$color_shale_light: #202026;
$color_spice: #d0a830;
$color_driedorange: #e87020;
$color_link_new: #169;
$color_yemen_red: #ff1020;
$color_yemen_white: #ffffff;
$color_yemen_black: #000000;

@mixin outline {
    outline: 1px solid red;
}

@mixin vertical-gradient($startcolor, $endcolor) {
    background-color: $startcolor;
    background-image: -webkit-gradient(linear, left top, left bottom, from($startcolor), to($endcolor)); // Saf4+, Chrome
    background-image: -webkit-linear-gradient(top, $startcolor, $endcolor); // Chrome 10+, Saf5.1+, iOS 5+
    background-image:    -moz-linear-gradient(top, $startcolor, $endcolor); // FF3.6
    background-image:     -ms-linear-gradient(top, $startcolor, $endcolor); // IE10
    background-image:      -o-linear-gradient(top, $startcolor, $endcolor); // Opera 11.10+
    background-image:         linear-gradient(to bottom, $startcolor, $endcolor); // CSS3
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); // IE9
}

@mixin box-shadow($values) {
    -moz-box-shadow: $values;       // Firefox
    -webkit-box-shadow: $values;    // Safari, Chrome
    box-shadow: $values;            // CSS3
}

body {
    font-family: georgia, times, serif;
    font-size: $fontsize_base;
    background: #111;
}

a {
    text-decoration: none;
    color: $color_link_new;
    &:hover {text-decoration: underline;}
}

p {line-height: 1.6em;}

h1, h2 {font-weight: normal;}

#main {
    position: relative;
    width: 100%;
    height: 100%;
    /* min-height: 860px; */
    min-height: 920px;
    overflow-y: hidden;
}

.main-bg {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}

.inner-block {
    width: $width;
    margin: 0 auto;
}

#header {
    position: relative;
    @include box-shadow(0 1px 8px 0 $color_black);
}

#banner {
    position: relative;
    width: 100%;
    padding: 20px 0 18px 0;
    background: $color_shale_light;
    img {
        display: block;
        margin: 0 auto;
        /* margin-left: 460px; */
    }
    .logo-img {
        padding-top: 10px;
        max-width: 200px;
    }
    .logo-text {
        margin-top: 12px;
        width: $width;
    }
}

.blinder {
    background: #111;
    position: absolute;
    width: 400px; height: 100%;
    top: 0;
    &.left {left: 0; border-right: 1px solid #222;}
    &.right {right: 0; border-left: 1px solid #222;}
}

#nav {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 0;
    border-bottom: 4px solid lighten($color_spice, 8%);
    @include vertical-gradient(lighten($color_driedorange, 7%), darken($color_driedorange, 3%));
    ul {
        width: $width;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }
    li {
        display: inline-block;
        width: ($width / 5) - 10px;
        margin: 0;
        padding: 8px 0;
        list-style-type: none;
        font-size: $fontsize_base;
        a {
            font-weight: bold;
            text-decoration: none;
            color: darken($color_driedorange, 28%);
            text-shadow: 0 1px 0 lighten($color_driedorange, 12%);
            &:hover {border-bottom: 1px solid lighten($color_shale, 8%);}
            &:active {
                color: darken($color_driedorange, 12%);
                border-bottom: 1px solid darken($color_driedorange, 12%);
            }
        }
    }
}

#content {
    position: relative;
    /* height: 100%; */
    min-height: 400px;
    .big-quote {
        margin: 0;
        padding-top: 40px;
    }
}

.big-quote {
    position: relative;
    color: $color_white;
    font-size: 48px;
    text-shadow: 0 1px 2px $color_black;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 200px;
    font-size: $fontsize_small;
    border-top: 4px solid lighten($color_spice, 3%);
    background: $color_shale;
    color: $color_cloud;
    h2 {
        margin: 10px 0;
        font-size: $fontsize_base;
        font-weight: bold;
    }
    .col {
        width: 280px;
        /* &:first-child {margin-left: 80px;} */
    }
}

#inner-footer {position: relative; padding: 18px 0;}

.col {
    display: inline-block;
    vertical-align: top;
    width: 300px;
}

.stretch {
    width: 100%;
    height: 100%;
}

.dull {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

.spaceless {
    margin: 0;
    padding: 0;
}

.hide {display: none;}

blockquote .leading-quote {
    position: absolute;
    left: -24px;
}

.fitted-page {
    position: relative;
    min-height: 9999px;
    padding: 20px 36px 20px 36px;
    background: url("../imgs/textures/scroll.png") top left repeat;
    p {
        margin: 0;
        padding: 8px 0;
    }
}

#about-page {
    p {font-size: $fontsize_big;}
    .motto {
        margin: {bottom: 8px; left: -8px};
        padding-bottom: 16px;
        text-align: center;
        font-size: $fontsize_base;
        font-weight: bold;
        border-bottom: 1px dashed $color_shale;
    }
}

#contact-page {
    p {font-size: $fontsize_base;}
    .first {margin-bottom: 12px;}
    .col {
        width: 45.5%;
        padding: 8px 14px 10px 14px;
        p {float: left;}
        color: #333;
        background: #fbfbfb;
        @include box-shadow(0 0 16px #aaa);
        &.second {float: right;}
        .phone-number {float: right;}
    }
    h2 {
        margin: 0;
        padding: 8px 0;
        font-size: $fontsize_base;
        color: #555;
        text-shadow: 0 -1px 0 #000000;
        border-bottom: 1px solid #ddd;
    }
    iframe {
        width: 100%; height: 200px;
        margin-top: 3px;
        background: #ddd;
    }
    .map {
        display: block;
        padding-top: 8px;
        clear: both;
        font-size: $fontsize_small;
    }
    .hr {margin: 32px 0 24px 0;}
}

.icon-links {
    position: absolute;
    top: 0px; right: 0px;
    padding: 6px;
    background: #ffffff;
    border-radius: 0 0 4px 4px;
    border: 1px solid #aaa;
    border-top: none;
    @include box-shadow(0 0px 2px #555 inset);
    .icon {display: block;}
    .icon + .icon {margin-top: 6px;}
}

.map {display: block;}

.hr {
    border-top: 1px dashed $color_shale;
    margin: 12px 0;
}

.icon {
    display: inline-block;
    width: 32px; height: 32px;
}

.facebook-icon {
    background: url("../imgs/icons/icons.png") 0 0 no-repeat;
}

.yelp-icon {
    background: url("../imgs/icons/icons.png") -32px 0 no-repeat;
}

.invisible {visibility: hidden;}

.flag-bar {
    position: absolute;
    width: 100%;
    font-size: 0;
    .inner {
        width: 960px;
        margin: 0 auto;
    }
    .flag-color {
        display: inline-block;
        width: $width / 3;
    }
}

.flag-color.red {border-top: 4px solid $color_yemen_red;}
.flag-color.white {border-top: 4px solid $color_yemen_white;}
.flag-color.black {border-top: 4px solid $color_yemen_black;}
